.home .heading {
  margin-top: 40px;
}

.home img {
  max-height: 900px;
}

.separator {
  display: block;
  position: relative;
}
.separator span:before {
  content: "";
  position: absolute;
  height: 5px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  background-color: red;
}

.carousel-site-name {
  margin-top: 20px;
}

#sitefooter {
  background-color: #343a40;
  color: rgba(255,255,255,.5);
  padding: 15px 0;
}