.carreviews {
  background-color: #757575;
  padding-bottom: 80px;
}

@media (max-width: 960px) {
  .carreviews {
    padding: 0 15px 80px 15px;
  }
}

.carreviews_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 0;
}

.carreviews_inner h1 {
  margin-bottom: 0;
  position: relative;
  padding-bottom: 15px;
  color: #e0e0e0;
}

.carreviews_inner h1:after {
  content: "";
  position: absolute;
  height: 2px;
  top: 100%;
  left: 0;
  transform: translate(0, 0);
  width: 100%;
  background-color: #900;
}

.carreviews_inner .icon-link {
  display: inline-block;
  text-decoration: none;
  color: #e0e0e0;
  font-weight: 600;
  margin-top: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 0 20px 10px 20px;
  transition: border .2s;
}

.carreviews_inner .icon-link:hover {
  border: 1px solid #900;
  transition: border .2s;
}

.carreviews_inner .icon-link:hover .icon-display {
  color: #900;
  transition: color .2s;
}

.carreviews_inner .icon-display {
  display: block;
  text-align: center;
  transition: color .2s;
}


